
GameBoy/Temp/UnityLockfile
GameBoy/Assets/Scenes/SampleScene.unity
GameBoy/Assets/Scenes/SampleScene.unity
GameBoy/Assets/Scenes/SampleScene.unity
GameBoy/Library/ArtifactDB
GameBoy/Library/CurrentLayout-default.dwlt
GameBoy/Library/EditorInstance.json
GameBoy/Library/expandedItems
GameBoy/Library/SourceAssetDB
GameBoy/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
GameBoy/Logs/AssetImportWorker0.log
GameBoy/Assets/Scenes/SampleScene.unity
GameBoy/Library/ArtifactDB
GameBoy/Library/CurrentLayout-default.dwlt
GameBoy/Library/EditorInstance.json
GameBoy/Library/expandedItems
GameBoy/Library/SourceAssetDB
GameBoy/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
GameBoy/Logs/AssetImportWorker0.log
GameBoy/Logs/shadercompiler-AssetImportWorker0.log
GameBoy/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GameBoy/Temp/__Backupscenes/0.backup
GameBoy/Temp/workerlic
GameBoy/Assets/Scenes/SampleScene.unity
GameBoy/Library/ArtifactDB
GameBoy/Library/CurrentLayout-default.dwlt
GameBoy/Library/EditorInstance.json
GameBoy/Library/expandedItems
GameBoy/Library/SourceAssetDB
GameBoy/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
GameBoy/Logs/AssetImportWorker0.log
GameBoy/Logs/shadercompiler-AssetImportWorker0.log
GameBoy/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GameBoy/Temp/__Backupscenes/0.backup
GameBoy/Temp/workerlic
*.log
*.log
*.log
